body {
	color:				#000000;			
}

p {
	margin:				5px;
}
h1 {
	font-family:		Rockwell;
	font-size:			24px;
	text-transform:		uppercase;
}
h2 {
	font-family:		Trebuchet;
	font-size:			14px;
	font-weight:		bold;
}
h3 {
	font-size:			16px;
}

li {
	font-size:			12px;
	margin-top:			6px;
}

#rules {
	width:				600px;
	max-width:			100%;
	margin:				auto;
	padding:          	10px;
	margin:           	0 auto;
	line-height:		1.5;
}

#general_rules {
	background-color: 	#CCDFE8;
	border-radius:    	10px;
	padding:			15px;
	line-height:		1.5;
}

#human_column {
	background-color: #FFFFFF;
	border-radius:    	10px;
	margin:           	20px auto;
	padding:			15px;
	line-height:		1.5;
}

}

#zombie_column {
	background-color: 	#CCDFE8;
	border-radius:    	10px;
	margin:           	20px auto;
	padding:			15px;
	line-height:		1.5;
}

#more_rules_column {
	background-color: 	#FFFFFF;
	border-radius:    	10px;
	margin:           	20px auto;
	padding:			15px;
	line-height:		1.5;
}


ol.rules_list{
    list-style-type: 	none;
    list-style-type: 	decimal !ie; /*IE 7- hack*/
     
    margin: 			0;
    margin-left: 		2em;
    padding: 			0;
     
    counter-reset: 		li-counter;
}
ol.rules_list > li{
    position: 			relative;
    margin-bottom: 		20px;
    padding-left: 		0.5em;
    min-height: 		3em;
}
ol.rules_list > li:before {
    position: 			absolute;
    top: 				0;
    left: 				-1.33em;
    width: 				1.2em;
    height: 			1.2em;
     
    font-size: 			2em;
    line-height: 		1.2;
    text-align: 		center;
    color: 				#FCFFFB;
 
    border: 			3px solid #c5c5c5;
    border-radius: 		50%;
    background-color: 	#FC974D;
    content: 			counter(li-counter);
    counter-increment: 	li-counter;
}