#countdown_container a:hover
{
  text-decoration:    none;
}

#countdown_container
{
  cursor:           pointer;
  width:            100%;
  margin:           0 auto 15px auto;
  height:           75px;
  background-color: #CCDFE8;
  border-radius:    10px;
}

#cd_timer_container
{
  float:          left;
  width:          390px;
}

#cd_timer_title
{
  margin:         3px;
  font-size:      13px;
  display:        none;
}

#player_counter_container{
  float:          right;
}

#cd_deceased_container, #cd_zombie_container, #cd_human_container 
{
  float:          left;
  width:          125px;
  height:         auto;
}

#cd_human_container img, #cd_zombie_container img, #cd_deceased_container img{
  padding-top:    4px;
}

.cd_timer_subtitle, .cd_player_subtitle
{
  margin:         8px 1px 0 5px;
  font-size:      10px;
}

.cd_timer_value, .cd_player_value
{
  
  font-size:      50px;
  font-weight:    bold;
}

.cd_timer_value
{
  margin:         0 3px 0 12px;
  width:          50px;
}

.cd_player_value
{
  margin:         0 3px 0 0;
}

.cd_timer_subtitle, .cd_timer_value, .cd_player_value
{
  float:          left;
}

#cd_timer_countdown, #cd_human_container, #cd_zombie_container, #cd_deceased_container
{
  margin:         13px 0 0 5px;
}

#cd_title
{
  margin:         6px 0 0 0;
  font-size:      13px;
  display:        none;
}

#cd_count
{
  font-size:      32px;
  width:          130px;
  margin:         12px 0 0 5px;
}