html, body
{
  height:         100%;
}

body
{
  background:     #ffffff;
  font-family:    "Trebuchet MS", "Tahoma", "Sans-Serf";
}


@font-face
{
  font-family: 'nu-century-gothic';
  src: url('font/gothic/gothic-webfont.eot');
  src: local('?'),
  url('font/gothic/gothic-webfont.woff') format('woff'),
  url('font/gothic/gothic-webfont.ttf') format('truetype'),
  url('font/gothic/gothic-webfont.svg') format('svg');
}

@font-face
{
  font-family: 'blue-bold';
  src: url('font/bluebold/bluebold-webfont.eot');
  src: local('?'),
  url('font/bluebold/bluebold-webfont.woff') format('woff'),
  url('font/bluebold/bluebold-webfont.ttf') format('truetype'),
  url('font/bluebold/bluebold-webfont.svg') format('svg');
}

.clearfix
{
  clear:          both;
}

.accent_color
{
  color:          #006699;
}

.bold
{
  font-weight:    bold;
}

.italic
{
  font-style:     italic;
}

a
{
  color:          #006699;
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

a:visited
{
}

.pull_left{
  float:    left;
}
.pull_right{
  float:    right;
}

.impersonation_bar
{
  left:           0;
  top:            0;
  height:         14px;
  width:          100%;
  background:     #FFF3B7;
  border-bottom:  1px solid #FBDC43;
  padding:        7px 0;
  text-align:     center;
  font-size:      14px;
}

#body_container
{
  min-height:     100%;
  height:         auto;
  margin:         0 0 -122px 0; /* Negative value must always equal height of footer */
}

#header_spacer
{
  height:   70px;
  overflow: hidden;
}
  
#header_container
{
  background-color: #18679A;
  height:           70px;
  z-index:          9000;
  position:         fixed;
  margin:           auto;
  width:            100%;
  overflow:         hidden;
}

.content_column
{
  max-width:          96%;
  width:              960px;
  height:             100%; 
  margin:             0 auto;
}

.email_img
{
  vertical-align: text-bottom;
  border:         none;
}

.logo
{
  height:         60px;
  cursor:         pointer;
}

a.logo, a.pointer
{
  text-decoration:none;
  cursor:         pointer;
  float:          left;
  margin:         5px 0;
}

#header_content{
  float:          right;
  max-width:      70%;
  height:         auto;
}

#header_navigation_container{
  margin-top:     10px;
  float:          right;
  color:          #555555;
  font-size:      14px;
}


a.header_navigation{
  color:          #18679A;
  height:         16px;
  padding:        3px 6px;
  border-radius:  5px;
  background:     #FCFFFB;
  text-decoration:none;
}

.header_nav_option{
  padding:        0 6px;
}

#content{}

#content_top_border{
  margin:         0 auto 15px auto;
}

#body_header
{
  max-width:      100%;
  height:         auto;
  overflow:       hidden;
}

#page_title
{
  float:          right;
  font-size:      20px;
  color:          #FFFFFF;
  padding:        5px 10px 0;
}

#body_header_nav_container
{
  float:                        right;
  background-color:             #FFFFFF;
  font-size:                    14px;
  border-bottom-right-radius:   3px;
  border-bottom-left-radius:    3px;
  border-top:                   transparent;
  padding-top:                  5px;
  padding-bottom:               8px;
  margin-right:                 5px; 
}

.header_acct_icon{
  height:         16px;
  border-radius:  3px;
  margin-top:     -1px;
  margin-right:   -9px;
  vertical-align: bottom;
}

.header_social{

}

.header_social img{
  height:         20px;
  width:          auto;
  vertical-align: bottom;
}

a.body_header_navigation
{
  height:         16px;
  padding:        2px 10px;
  font-weight:     bold;
}

a:hover.body_header_navigation, a:hover.button
{
  text-decoration:none;
}

a:active.button, input:active.button
{
  background:     #d4d4d4;
}

input.body_header_navigation, input.button
{
  height:         24px;
  padding:        2px 10px;
  border:         1px solid #DDDDDD;
  background:     #F5F5F5;
  cursor:         pointer;
}

input:hover.body_header_navigation, input:hover.button
{
  border:         1px solid #CCCCCC;
  background:     #E9E9E9;
  text-decoration:none;
}

input:active.button
{
  background:     #d4d4d4;
}

.body_header_nav_option
{
  padding:        0 4px;
}

.header_nav_divider
{
  border-right:   2px solid #FC974D;
  display:        inline;  
  padding-left:   0.3em;
}

#body_header_message, .index_header_message
{
  clear:          both;
  float:          none;
  width:          960px;
  max-width:      100%;
  margin:         0 auto;
  font-size:      14px;
  text-align:     center;
  padding:        8px 0;
  height:         14px;
  border-radius:  10px;
  background:     #CCDFE8;
}

#body_header_message {
  margin-top:     15px;
}

.index_header_message
{
  margin:         15px 0 5px 0;
}

#body_content
{
  clear:           both;
  width:           100%;
  max-width:       960px;
  height:          100%; 
  margin:          0px auto;
}

/* Footer Styles */ 

#footer_push{
  height:         100px;
}

#footer
{
  padding:        10px 0px;
  background:     #378DB1;
  border-top:     2px solid #498699;
}

a.footer
{
  color:          #FAFAFA;
  font-style:     italic;
}

.footer_image
{
  opacity:        0.95;
  height:         90px;
  padding:        2px;
  background:     #ffffff;
  border:         1px solid #B90000;
}

#footer_about
{
  margin:         0;
  line-height:    24px;
  color:          #FAFAFA;
  font-size:      14px;
  text-align:     center;
}
#footer_about a{
  color:          #FAFAFA;
}

.footer_copyrights
{
  margin:         5px auto;
}

#forums
{
  margin:         15px 0;
}
